<!DOCTYPE html>
<html>
<head>
  <title>Canary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="headcontainer">
  <header>
  <h1>Canary</h1>
    <nav>
        <%= link_to "Home", "/companies/#{current_company.id}/main" %> |
        <%= link_to "Companies", "/firms" %> |
        <%= link_to "Projects", "/projects" %> |


        <%= link_to "Services", "/services" %>

        </nav>
    </header>
  </div>



  <div id="company_nav">
    <% if current_company %>
      Logged in as <%= current_company.email %>.
      <%= link_to "Log out", log_out_path %>
    <% else %>
      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "log in", log_in_path %>
    <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>


<%= yield %>

</body>
</html>
